@model IEnumerable<NdihmesTagLaborator.Models.Evente> 

    <table class="table">


    <tr><td>Emri</td><td>Email</td><td>Tel</td></tr>
   
    @foreach(var item in Model){

        <tr><td>@item.Emri</td><td>@item.Email</td><td>@item.Tel</td></tr>


    }
     </table>