@{
    ViewData["Title"] = "Home Page";
}

<h4 class="display-4">Miresevini në Konferencën e IV Shkencore RTACSIT</h4>
<div class="text-center">
    
    <img src="~/images/conference.jpg" asp-append-version="true"/>
    <p>Ju mund të regjistroheni në konferencë duke klikuar në linkun më poshtë</p>
    <a  class="btn btn-secondary" asp-controller="Home" asp-action="FormaKonference">Linku i Regjistrimit</a>
</div>

