html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.form-control{
    width:50%;
}
.field-validation-error{
    color:red;
}

body {
    margin-bottom: 60px;
}